body {
    background-color: #252323;

}

.navTitle {
    font-weight: 900;
    font-size: xx-large;
}

.blogBox {
    margin-top: 8px;
    border-style: solid;
}

.blogTitle {
    text-decoration: none;
    color: black;
}

.blogDesc {
    border-style: solid;
    margin-bottom: 5px;
    padding: 2px;
    background-color: #A09EBB;
}

.blogDescMain {
    font-weight: 700;
}

.blogDescTwo {
    font-size: 25px;
    font-style: italic;
}

.blogCreate {
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    padding: 5px;
    color: #F0544F;
}

.blogBoxCont {
    margin-top: 10px;
    border-style: solid;
    background-color: #84A59D;
}

.formCont {
    margin-top: 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.commentCont {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 75%;
    background-color: #FDF0D5;
}

.commentOwner {
    font-size: 14px;
}

.btnComment {
    margin-top: 10px;
}

.commentText {
    font-weight: bold;
    padding-top: 10px;
    background-color: #F0544F;
}

.commentCont {
    border-style: dashed;
}

.headerRow {
    background-color:#F0544F);
    margin-bottom: 10px;
}

a:link {
    color: #3993DD;
}

a:visited {
    color: #29E7CD;
}

a:hover {
    color: #F62DAE;
}

.login {
    margin-left: 25px;
}

.signup {
    margin-left: 25px;
}

.form-group {
    margin-top: 10px;
}